
.game-content {
  border: 1px gray solid;
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: 25%;
}

.game-content .arrow-line {
  display: table-row;
}

.titre {
  display: block;
  color: black;
  text-align: center;
}

.game-content .arrow-line .arrow{
  display: table-cell;
  font-size: 50px;
  padding: 30px;
  width: 100px;
  height: 100px;
  border: 1px solid #CCC;
}

.container {
  margin-left: calc(100em - 1700px);
}

.game-content {
  display: table;
  width: fit-content;
  border: 1px solid #CCC;
  text-align: center;
  margin-top: 20px;
}